.revers {
  background-image: url('/img/revers.png');
}

.clubs-2 {
  background-image: url('/img/clubs-2.png');
}

.clubs-3 {
  background-image: url('/img/clubs-3.png');
}

.clubs-4 {
  background-image: url('/img/clubs-4.png');
}

.clubs-5 {
  background-image: url('/img/clubs-5.png');
}

.clubs-6 {
  background-image: url('/img/clubs-6.png');
}

.clubs-7 {
  background-image: url('/img/clubs-7.png');
}

.clubs-8 {
  background-image: url('/img/clubs-8.png');
}

.clubs-9 {
  background-image: url('/img/clubs-9.png');
}

.clubs-10 {
  background-image: url('/img/clubs-10.png');
}

.clubs-ace {
  background-image: url('/img/clubs-ace.png');
}

.clubs-jack {
  background-image: url('/img/clubs-jack.png');
}

.clubs-king {
  background-image: url('/img/clubs-king.png');
}

.clubs-queen {
  background-image: url('/img/clubs-queen.png');
}

.diamonds-2 {
  background-image: url('/img/diamonds-2.png');
}

.diamonds-3 {
  background-image: url('/img/diamonds-3.png');
}

.diamonds-4 {
  background-image: url('/img/diamonds-4.png');
}

.diamonds-5 {
  background-image: url('/img/diamonds-5.png');
}

.diamonds-6 {
  background-image: url('/img/diamonds-6.png');
}

.diamonds-7 {
  background-image: url('/img/diamonds-7.png');
}

.diamonds-8 {
  background-image: url('/img/diamonds-8.png');
}

.diamonds-9 {
  background-image: url('/img/diamonds-9.png');
}

.diamonds-10 {
  background-image: url('/img/diamonds-10.png');
}

.diamonds-ace {
  background-image: url('/img/diamonds-ace.png');
}

.diamonds-jack {
  background-image: url('/img/diamonds-jack.png');
}

.diamonds-king {
  background-image: url('/img/diamonds-king.png');
}

.diamonds-queen {
  background-image: url('/img/diamonds-queen.png');
}

.hearts-2 {
  background-image: url('/img/hearts-2.png');
}

.hearts-3 {
  background-image: url('/img/hearts-3.png');
}

.hearts-4 {
  background-image: url('/img/hearts-4.png');
}

.hearts-5 {
  background-image: url('/img/hearts-5.png');
}

.hearts-6 {
  background-image: url('/img/hearts-6.png');
}

.hearts-7 {
  background-image: url('/img/hearts-7.png');
}

.hearts-8 {
  background-image: url('/img/hearts-8.png');
}

.hearts-9 {
  background-image: url('/img/hearts-9.png');
}

.hearts-10 {
  background-image: url('/img/hearts-10.png');
}

.hearts-ace {
  background-image: url('/img/hearts-ace.png');
}

.hearts-jack {
  background-image: url('/img/hearts-jack.png');
}

.hearts-king {
  background-image: url('/img/hearts-king.png');
}

.hearts-queen {
  background-image: url('/img/hearts-queen.png');
}

.spades-2 {
  background-image: url('/img/spades-2.png');
}

.spades-3 {
  background-image: url('/img/spades-3.png');
}

.spades-4 {
  background-image: url('/img/spades-4.png');
}

.spades-5 {
  background-image: url('/img/spades-5.png');
}

.spades-6 {
  background-image: url('/img/spades-6.png');
}

.spades-7 {
  background-image: url('/img/spades-7.png');
}

.spades-8 {
  background-image: url('/img/spades-8.png');
}

.spades-9 {
  background-image: url('/img/spades-9.png');
}

.spades-10 {
  background-image: url('/img/spades-10.png');
}

.spades-ace {
  background-image: url('/img/spades-ace.png');
}

.spades-jack {
  background-image: url('/img/spades-jack.png');
}

.spades-king {
  background-image: url('/img/spades-king.png');
}

.spades-queen {
  background-image: url('/img/spades-queen.png');
}