// @import "normalize";
// @import "cards";


* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
.card {
    height: 125px;
    width: 80px;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 3px 3px 5px 0 lightgreen;    
}

.btn {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    margin: 10px;
    border-radius: 10px;
    border: 5px solid darkgreen;
    padding: 20px 30px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 black;
    transition: all .2s;
    &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px 5px 0 black;
    }
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.table {  
    display: flex;
    background-color: light gray;
    width: 100%;
    height: 100%;
    background-image: url('../img/casino.jpg');
    flex-direction: column;
    justify-content: stretch;
    align-items: space-between;
}
.top {
    padding: 0 100px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: rgba(150, 150, 150, .7);
}
.bottom {
    padding: 0 100px; 
    display: flex;
    width: 100%;
    // height: 50%;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    background-color: rgba(150, 150, 150, .7);
}

#deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    // border: solid red;
}

#deckcard {
    width: 150px;
    height: 200px;
    background-image: url('../img/revers.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: darkgreen;
    background-position: center;
    border-radius: 10px;
    border: 10px solid darkgreen;
    
}
#dealbutton {
    width: 120px;
    height: 40px;
    // background-color: green;
    color: black;
}

#dealercards {
    width: 550px;
    height: 300px;
    display: flex;
    flex-basis: 2;
    background-color: green;
    border-radius: 0 0 40px 40px;
    padding: 5px;
    background-image: url('../img/felt.jpg');
    background-size: cover;
    border-bottom: 5px solid darkgreen;
    border-left: 5px solid darkgreen;
    border-right: 5px solid darkgreen;
}

#reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    // border: solid black;
}
#resetbutton {
    width: 120px;
    height: 40px;
}



#playerbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    padding: 10px;
    // border: solid yellow;
    
}

#hitbutton {
    width: 120px;
    height: 40px;
}

#passbutton {
    width: 100px;
    height: 40px;
}

#playercards {
    background-image: url('../img/felt.jpg');
    background-size: cover;
    width: 550px;
    height: 300px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px 40px 0 0;
    padding: 5px;
    align-self: flex-end;
    border-top: 5px solid darkgreen;
    border-left: 5px solid darkgreen;
    border-right: 5px solid darkgreen;
}

#wallet {
    display: flex;
    background-color: light green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;    
    padding: 10px;
    >h2 {
        padding: 10px;
        background-color: lightgreen;
        border-radius: 10px;
        border: 5px solid darkgreen;
    }
}

#betbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-basis: 1;
    padding: 20px 0;
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 2rem;
    border: 5px solid darkgreen;
}
#plusbutton {
    background-image: url(../img/plus.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 black;
    border-radius: 10px;
    transition: all .2s;
    &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px 5px 0 black;
    }

}

#minusbutton {
    background-image: url(../img/minus.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 5px 0 black;
    transition: all .2s;
    &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px 5px 0 black;
    }

}

#betamount {
    font-size: 1.5em;
}

#walletbox {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border: 5px solid darkgreen;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: lightgreen;
    h2 {
        margin: 2px;
        font-size: 1.5rem;
    }
    img {
        height: 70px;
        flex-shrink: 1;
    }
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
}

#walletamount {
    font-size: 2.5em;
}

.modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(100, 100, 100, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalWindow {
    height: 400px;
    width: 600px;
    border: 5px solid darkgreen;
    background-color: lightgreen;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.modalContent {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    h2 {
        font-size: 3rem;
    }
}
.image {
    flex-basis: 50%;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}
.scores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    h3 {
        font-size: 2rem;
    }
}

#win {
    display: none;
    .image {
        background-image: url('http://gifimage.net/wp-content/uploads/2017/07/dumb-and-dumber-gif-5.gif');
    }
}
#lose {
    display: none;
    .image {
        background-image: url('../img/lose.gif');
    }
}
#noMoney {
    display: none;
    .image {
        background-image: url('../img/tenor.gif ');
    }
}
