@import "normalize";
@import "cards";

.card {
    height: 125px;
    width: 80px;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
}

body {

    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.table {
  display: flex;
  background-color: light gray;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;

//   margin-left: auto;
//   margin-right: auto;
//   border: solid purple;
}
.top {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    height: 50vh;
    margin-bottom: .7em;
    // border: solid blue;
}

#deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    height: 50vh;
    // border: solid red;
}

#deckcard {
    width: 100px;
    height:200px;
    background-image: url('../img/revers.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#dealbutton {
    display: block;
    width: 120px;
    height: 40px;
    // background-color: green;
    color: black;
    text-align: center;
    font-size: 2em;
    padding: .2em;
}

#dealercards {
    width: 550px;
    height: 300px;
    display: flex;
    flex-basis: 2;
    background-color: green;
    border-radius: 0 0 40px 40px;
    // border: solid black;
}

#reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    height: 50vh;
    // border: solid black;
}
#resetbutton {
    display: block;
    width: 120px;
    height: 40px;
    // background-color: green;
    color: black;
    text-align: center;
    font-size: 2em;
    padding: .2em;
}

.bottom {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    height: 50vh;
    margin-top: .7em;
    // border: solid yellow;
}

#playerbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    height: 50vh;
    padding: 10px;
    // border: solid yellow;
    
}

#hitbutton {
    display: block;
    width: 120px;
    height: 40px;
    // background-color: green;
    color: black;
    text-align: center;
    font-size: 2em;
    padding: .2em;
}

#passbutton {
    display: block;
    width: 120px;
    height: 40px;
    // background-color: green;
    color: black;
    text-align: center;
    font-size: 2em;
    padding: .2em;
}

#playercards {
    width: 550px;
    height: 300px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px 40px 0 0;
    padding: 15px;
    // border: solid black;
}

#wallet {
    display: flex;
    background-color: light green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-basis: 1;
    height: 50vh;
    
    // border: solid black;
}

#betbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-basis: 1;
    height: 20vh;
    // border: solid black;
}
#plusbutton {
    background-image: url(../img/plus.png);
    background-size: cover;
    display: block;
    width: 20px;
    height: 20px;
    // background-color: green;
}

#minusbutton {
    background-image: url(../img/minus.png);
    background-size: cover;
    display: block;
    width: 20px;
    height: 20px;
    // background-color: green;
}

#betamount {
    font-size: 1.5em;
}

#walletbox {
    display: block;
    justify-content: center;
    align-items: center;
}

#walletamount {
    font-size: 2.5em;
}